 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    text-decoration: none;
    font-family: 'poppins',sans-serif;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    overflow-x: hidden;
    margin: 20px;
}

.sidebar {
    /* height: 100%;
    width: 100%;  */
    position: fixed;
    top: 20%;
    
    left: -400px;
    background-color: rgb(218, 182, 200);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
 
}

.sidebar ul  {
    display: flex ;
}
.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 25px;
    color:black;
    display: block;
    transition:all 0.3s ease;
}

.sidebar a:hover {
    background-color: #5a9bcf;
    border-radius: 10px;
    
}

.sidebar .active {
    background-color:transparent;
}

.toggle-btn {
    position: absolute;
    top: 20px;
    left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    margin-left: 1350px;
}

.toggle-btn span {
    background-color: #111;
    height: 4px;
    width: 100%;
    transition: 0.3s;
}

.content {
    margin-left: 20px;
    padding: 15px;
    transition: margin-left 0.3s;
}

.sidebar.active {
    left: 0;
}

.toggle-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.toggle-btn.active span:nth-child(2) {
    opacity: 0;
}

.toggle-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}


.menu-bar-icons ion-icon{
  font-size: 30px;  
  margin-top: 150px;
  padding: 10px;
  transition: all 0.5s ease;
}
.menu-bar-icons ion-icon:hover{
    font-size: 32px;
    color: rgb(46, 109, 204);
}


.model-flow-div{
    margin-top: 50px;
}

.model-flow-div h1{
    margin-top: 100px;
    margin-bottom: 100px;
}
.model-flow-div .flow-text-img{
    display: flex;
}
.flow-text-img .model-flow-btn h1{
    margin-bottom: 20px;
    font-size: 50px;
    
}
.flow-text-img .model-flow-btn p{
    margin-bottom: 40px;
    font-size: 20px;
    color: rgb(77, 74, 74);
}
.flow-text-img .model-flow-btn button{
    margin-bottom: 20px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    padding: 5px;
    background-color: black;
    color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.flow-text-img .model-flow-btn button:hover{
    width: 320px;
    height: 60px;

}
.flow-text-img2{
    margin-top: 100px;
}
.flow-text-img .flow-img img{
    width: 600px;
    height: 700px;
    border-radius: 20px;
    margin-left: 100px;
}

.flow-text-img2{
    display: flex;
    margin-bottom: 100px;
}
.flow-text-img2 .flow-img2 img{
    width: 600px;
    height: 700px;
    border-radius: 20px;
    margin-left: 50px;
 
}
.model-flow-btn2 {
    margin-left: 200px;
}
.flow-text-img .model-flow-btn2 h1{
    margin-bottom: 30px;
    font-size: 50px;
    
}
.model-flow-btn2 p{
    margin-bottom: 40px;
    font-size: 20px;
    color: rgb(77, 74, 74);
    margin-top: 20px;
}
 .model-flow-btn2 button{
    margin-bottom: 20px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    padding: 5px;
    background-color: black;
    color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.model-flow-btn2 button:hover{
    width: 320px;
    height: 60px;

}

.Our-Models-div{
    text-align: center;
    margin-bottom: 100px;
}
.Our-Models-div h1{
    margin-bottom: 20px;
    font-size: 60px;
}
.Our-Models-div p{
    font-size: 20px;
    color: rgb(77, 74, 74);
    margin-bottom: 30px;
}
.Our-Models-div button{
    margin-bottom: 20px;
    font-size: 17px;
    width: 300px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 500;
    transition: all 0.5s ease;
}
.Our-Models-div button:hover{
    background-color: black;
    color: white;
    
}


.model-flow-btn3{
    margin-left: 200px;
    margin-top: 100px;
}

 .model-flow-btn3 h1{
    margin-bottom: 30px;
    font-size: 50px;
    
}
.model-flow-btn3 p{
    margin-bottom: 40px;
    font-size: 20px;
    color: rgb(77, 74, 74);
    margin-top: 20px;
}
 .model-flow-btn3 button{
    margin-bottom: 20px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    padding: 5px;
    background-color: black;
    color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.model-flow-btn3 button:hover{
    width: 320px;
    height: 60px;

}

.flow-text-img4{
    display: flex;
    margin-top: 50px;
}



.flow-text-img4{
    display: flex;
    margin-top: 100px;
}
.model-flow-btn4{
    margin-left: 150px;
}
.flow-text-img4 .model-flow-btn4 h1{
    margin-bottom: 20px;
    font-size: 50px;
    
}
.flow-text-img4 .model-flow-btn4 p{
    
    font-size: 20px;
    color: rgb(77, 74, 74);
}
 .model-flow-btn4 button{
    margin-bottom: 20px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    padding: 5px;
    background-color: black;
    color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
    margin-top: 30px;
    
}
 .model-flow-btn4 button:hover{
    width: 320px;
    height: 60px;

}
.flow-text-img4 .p1{
    margin-top: 50px;
    
}
.model-flow-btn4-icons ion-icon{
    margin-top: 30px;
    font-size: 35px;
    transition: all 0.5s ease;
}
.model-flow-btn4-icons ion-icon:hover{
    font-size: 36px;
    color: rgb(56, 97, 150);
}




.OurDiversity-div{
    display: flex;
    margin-top: 150px;
    margin-bottom: 200px;
}
.OurDiversity-div h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.OurDiversity-div p{
    font-size: 20px;
    color: rgb(99, 94, 94);
    margin-bottom: 20px;
}
.icon-btn{
    display: flex;
}
.OurDiversity-div .icon-btn button{
    border: none;
    font-size: 20px;
    margin-left: 10px;
    background-color: transparent;
}
.OurDiversity-div .icon-btn ion-icon{
    font-size: 30px;
    transition: all 0.5s ease;
  
}
.OurDiversity-div .icon-btn ion-icon:hover{
    font-size: 50px;
}
.OurDiversity-div-progress-bar{
    margin-left: 100px;
}
.OurDiversity-div-progress-bar .bar1 p{
font-size: 16px;
color: rgb(104, 103, 103);
}
.bar1 .div1{
    width: 500px;
    height: 15px;
    background-color: rgb(230, 222, 222);
    
}
.Our-Pricing-div{
    text-align: center;
}
.Our-Pricing-div h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.Our-Pricing-div p{
    font-size: 20px;
    color: rgb(88, 83, 83);
}
.Our-Pricing-dives{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 150px;
}

 .Our-Pricing-div1{
  
    width: 400px;
    height: 500px;
    background-color: white;
    border: 2PX solid black;
    text-align: center;
   padding-top: 70px;
}
.Our-Pricing-div1 h1{
    font-size: 60px;
    margin-bottom: 5px;
}
.Our-Pricing-div1 p{
    margin-top: 13px;
    color: rgb(131, 113, 113);
    font-size: 20px;
   
}
.Our-Pricing-div1 button{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.Our-Pricing-div1 button:hover{
    background-color: black;
    color: white;
}



.Our-Pricing-div2{
  
    width: 400px;
    height: 500px;
    background-color: white;
    transition: all 0.5s ease;
    text-align: center;
    padding-top: 70px;
}
.Our-Pricing-div2:hover{
    /* box-shadow: 2px 2px 0px 0px ; */
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}
.Our-Pricing-div2 h1{
    font-size: 60px;
    margin-bottom: 5px;
}
.Our-Pricing-div2 p{
    margin-top: 13px;
    color: rgb(131, 113, 113);
    font-size: 20px;
   
}
.Our-Pricing-div2 button{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.Our-Pricing-div2 button:hover{
    background-color: black;
    color: white;
}

.bg-with-diff-clr{
    text-align: center;
    margin-bottom: 100px;
    background: linear-gradient(45deg,gray,rgb(155, 202, 200),rgb(212, 161, 200),rgb(97, 93, 93));
    height: 500px;
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    border-radius: 20px;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.bg-with-diff-clr h1{
    font-size: 50px;
    margin-bottom: 20px;
    padding-top: 150px;
}
.bg-with-diff-clr p{
    font-size: 20px;
    color: rgb(70, 68, 68);
    margin-bottom: 20px;
}
.bg-with-diff-clr button {
    margin-top: 100px;
    font-size: 20px;
    color: white;
    background-color: black;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.5s ease;
    
   
}
.bg-with-diff-clr button:hover{
    font-size: 23px;
    transform: scale(1.1);
}


.footer{
    background-color: black;
    color: wheat;
    height: 500px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
    
    
}

.footer-divs{
    display: flex;
    justify-content: space-evenly;
    padding-top: 200px;
}
.footer-div1 p{
    margin-top: 10px;
    font-size: 18px;
}
.footer-div1 .footer-icons ion-icon{
    font-size: 30px;
    margin-top: 20px;
    padding: 10px;
    transition: all 0.5s ease;
}
.footer-div1 .footer-icons ion-icon:hover{
    color: rgb(58, 149, 209);
}
.below-text{
    margin-top: 50px;
    text-align: center;
}
.below-text a{
    color: wheat;
    padding: 5px;
}
.below-text a:hover{
    color: #5a9bcf;
    text-decoration: underline;
    
}
.down-arrow ion-icon{
    color: white;
    width: 40px;
    height: 50px;
    background-color: black;
    position: fixed;
    bottom: 0;  
    margin-left: 1250px;
    margin-bottom: 10px;
    border-radius: 5px;
   
    
}







.container{
    width: 100%;
    height: 1000px;
    background-color: white;
    margin-left: 100px;
}
.header{
    text-align: center;
    padding-top: 100px;

}
.header p{
    font-size: 20px;
}
.image-container {
    position: relative;
    width: 50%;
    max-width: 300px;
    transition: all 0.5s ease;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    transition: all 0.5s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.text1 h1{
    font-size: 30px;
    padding-top: 100px;
    padding-left: 30px;

}
.box{
    display: flex;
    column-gap: 100px;
    padding-top: 40px;
    padding-left: 100px;
}
.box1{
    display: flex;
    column-gap: 100px;
    padding-top: 40px;
    padding-left: 100px;
    margin-bottom: 20px;
   
}
.text2{
    padding-top: 200px;
    text-align: center;
}
.text2 h1{
    font-size: 40px;
}
.text2 p{
    font-size: 20px;
    margin-top: 30px;
}
.text2 button{
    width: 120px;
    height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
margin-top: 40px;
}